@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrapper {
  position: relative;
  flex-grow: 1;
}

.main-page-button,
.pagination-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.main-page-button {
  display: block;
  padding: 10px 5px;
  min-width: 160px;
  position: relative;
  z-index: 1;
  border: none;
  background-color: transparent;
}

.main-page-button::before {
  position: absolute;
  content: "";
  top: 40%;
  left: 0;
  height: 8px;
  width: 98%;
  background-color: #ffe17f;
  z-index: -1;
}

.main-page-button:hover {
  background-color: #ffe17f;
}

.main-page-button:focus-visible {
  outline: 2px solid #af4fff;
}

.main-page-button:active {
  background-color: #ffcc33;
}

.main-page-button:active::before {
  background-color: #ffcc33;
}

.main-page-button:disabled {
  opacity: 0.3;
}

.page-header {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #ffe17f;
}

.catalogue-header {
  margin-bottom: 35px;
}

.logo-link {
  display: inline-block;
}

.page-footer .logo-link {
  margin-bottom: 26px;
}

.logo-link:focus-visible {
  outline: 2px solid #af4fff;
}

.page-header .logo-link {
  position: absolute;
  left: 60px;
  top: -20px;
}

.header-logo:hover,
.footer-logo:hover {
  opacity: 0.6;
}

.header-logo:active,
.footer-logo:active {
  opacity: 0.3;
}

.header-button,
.profile-link {
  display: block;
  color: #000000;
  text-decoration: none;
}

.header-button {
  max-width: 160px;
}

.header-button:focus-visible {
  outline: 2px solid #af4fff;
}

.header-button:hover {
  opacity: 0.6;
}

.header-button:active {
  opacity: 0.3;
}

.header-general-buttons {
  display: flex;
  margin-left: 60px;
  margin-bottom: 40px;
}

.header-user-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 790px;
  margin: 0;
  padding: 0;
  margin-top: 44px;
  list-style-type: none;
}

.header-button-area {
  display: inline-block;
  position: relative;
  margin-right: 25px;
}

.header-button-area:first-child {
  margin-right: 25px;
}

.header-button-area:last-child {
  margin: 0;
}

.header-search-form {
  display: flex;
}

.header-search-button {
  max-width: 200px;
  padding: 9px 54px;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.header-search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.header-search-button:focus-visible {
  outline: 2px solid #af4fff;
}

.header-search-button:active {
  opacity: 0.3;
}

.header-search-button:disabled {
  opacity: 0.3;
}

.profile-icon {
  margin-right: 7px;
}

.header-search-space {
  position: relative;
  width: 360px;
  padding-left: 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: transparent;
  background-image: url("../images/header-icons/header-search-icon.svg");
  background-repeat: no-repeat;
  background-position: center left 14px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  appearance: none;
}

.header-search-space::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.header-search-space:focus-within {
  outline: 2px solid #af4fff;
}

.header-search-space:disabled {
  opacity: 0.3;
}

.profile-logged-out,
.profile-logged-in {
  display: none;
}

.log-out-button {
  border: none;
  background-color: transparent;
  opacity: 0.3;
  font-size: 18px;
  line-height: 30px;
}

.header-cart-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 300px;
  margin: 44px 60px 0 auto;
  padding: 0;
  list-style-type: none;
}

.cart-button-area {
  max-width: 120px;
  position: relative;
}

.compare-icon {
  margin-right: 6px;
}

.cart-icon {
  margin-right: 6px;
  position: relative;
  overflow: visible;
}

.cart-button-area:not(:last-child) {
  margin-right: 36px;
}

.items-number {
  position: absolute;
  top: 4px;
  left: -16px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  z-index: 1;
}

.items-number::before {
  content: "2";
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  top: 3px;
  left: 7px;
}

.cart-popover {
  position: absolute;
  top: 36px;
  left: -141px;
  width: 320px;
  min-height: 300px;
  background-color: #000000;
  z-index: 1;
}

.popover-items-list {
  padding: 20px 20px 0 20px;
  list-style-type: none;
  position: relative;
}

.popover-items-list::before {
  content: url("../images/popover-arrow.svg");
  position: absolute;
  top: -11px;
  left: 47%;
}

.popover-cart-item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.popover-cart-item:last-child {
  margin-bottom: 0;
}

.popover-item-link {
  text-decoration: none;
  display: flex;
}

.popover-item-link:hover {
  opacity: 0.6;
}

.popover-item-link:focus-visible {
  outline: 2px solid #af4fff;
}

.popover-item-link:active {
  opacity: 0.3;
}

.popover-image {
  align-self: flex-start;
  margin-right: 23px;
}

.cart-item-title {
  max-width: 150px;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.delete-button {
  border: none;
  background-color: transparent;
  width: 10px;
  height: 10px;
  margin-left: auto;
  background-image: url(../images/popover-delete-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.delete-button:hover {
  opacity: 0.6;
}

.delete-button:focus-visible {
  outline: 2px solid #af4fff;
}

.delete-button:active {
  opacity: 0.3;
}

.totals {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 22px;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.totals-text {
  margin: 0;
  margin-top: 11px;
  margin-bottom: 11px;
  min-width: 100px;
}

.popover-button {
  display: block;
  padding: 14.5px 23px;
  margin: 20px;
  min-height: 20px;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.popover-button:hover {
  background-color: #ffe17f;
}

.popover-button:focus-visible {
  outline: 2px solid #af4fff;
}

.popover-button:active {
  opacity: 0.3;
}

.popover-button:disabled {
  opacity: 0.3;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 60px 31px;
  padding: 0;
  list-style-type: none;
}

.index-navigation {
  margin-bottom: 15px;
}

.navigation-button {
  position: absolute;
  top: -10px;
  left: 243px;
  border-radius: 50%;
  border: 2px solid #000000;
  width: 50px;
  height: 50px;
  background-color: transparent;
  opacity: 0.3;
  cursor: pointer;
}

.navigation-button:hover,
.navigation-button:active {
  opacity: 1;
}

.navigation-button-open {
  background-image: url("../images/header-icons/header-expand-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-button-close {
  background-image: url("../images/header-icons/header-collapse-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-field {
  position: relative;
  width: 127px;
}

.navigation-field:not(:first-child, :last-child) {
  margin-right: 47px;
}

.navigation-field:nth-child(2) {
  margin-right: 44px;
}

.navigation-field:not(:first-child) {
  text-align: right;
}

.navigation-item {
  position: relative;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  font-family: "Raleway", sans-serif;
  line-height: 21.13px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.navigation-item:hover {
  opacity: 0.6;
}

.navigation-item:focus-visible {
  outline: 2px solid #af4fff;
}

.navigation-item:active {
  opacity: 0.3;
}

.navigation-item-active {
  border-bottom: 2px solid #000000;
}

.navigation-field:first-child {
  min-width: 295px;
  padding: 0;
  flex-grow: 1;
}

.navigation-item + .navigation-item {
  padding: 45px;
}

.catalogue-popover-wrapper {
  display: none;
  position: absolute;
  top: 48px;
  left: -60px;
  padding-left: 60px;
  width: 1100px;
  min-height: 154px;
  z-index: 1;
  background-color: #ffe17f;
}

.navigation-field:first-child:hover .catalogue-popover-wrapper,
.navigation-field:first-child:focus-within .catalogue-popover-wrapper {
  display: block;
}

.popover-closed {
  display: none;
}

.popover-open {
  display: block;
}

.navigation-item:first-child:focus .popover-closed {
  display: block;
}

.navigation-catalogue-categories {
  display: grid;
  grid-template-columns: 250px 210px 210px;
  list-style-type: none;
  padding: 0;
  min-width: 600px;
}

.categories-list {
  list-style-type: none;
  padding: 0;
}

.navigation-catalogue-categories > li:not(:first-child) {
  margin-left: 3px;
}

.navigation-catalogue-categories li {
  flex-grow: 0;
}

.navigation-catalogue-item {
  display: inline-block;
  margin-bottom: 11px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: none;
  color: #000000;
  text-decoration: none;
}

.navigation-catalogue-item:hover {
  opacity: 0.6;
}

.navigation-catalogue-item:focus-visible {
  outline: 2px solid #af4fff;
}

.navigation-catalogue-item:active {
  opacity: 0.3;
}

.promo-slider {
  width: 1160px;
  margin: 0 auto 70px auto;
}

.slider-pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 70px;
}

.slider-pagination-item {
  display: grid;
  grid-template-columns: 560px 1fr;
  grid-template-rows: 100px 25px 105px 110px auto auto;
  column-gap: 40px;
}

.slider-item-number {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  margin: 0;
  padding-right: 50px;
  font-size: 180px;
  line-height: 85%;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  background-color: #ffe17f;
}

.slider-arrow {
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  width: 20px;
  height: 60px;
  margin-top: -40px;
}

.slider-arrow:hover {
  opacity: 0.6;
}

.slider-arrow:focus-visible {
  outline: 2px solid #af4fff;
}

.slider-arrow:active {
  opacity: 0.3;
}

.slider-arrow:disabled {
  opacity: 0.1;
}

.slider-prev {
  background-image: url("../images/slider-arrow-left.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: 30px;
}

.slider-next {
  background-image: url("../images/slider-arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
}

.stock-image {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin-top: -22px;
}

.slider-item-title,
.main-page-heading {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-item-title {
  grid-column: 2 / -1;
  grid-row: 2 / 4;
  margin: 0;
  margin-bottom: 30px;
}

.slider-item-description {
  margin: 0;
  max-width: 560px;
}

.slider-pagination-item .main-page-button {
  margin-right: auto;
  align-self: start;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  width: 212px;
}

.slider-navigation {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  margin-left: auto;
  align-self: flex-start;
}

.slider-navigation-item {
  width: 12px;
  height: 12px;
  margin-top: 14px;
}

.slider-navigation-item:not(:last-child) {
  margin-right: 20px;
}

.slider-button {
  display: block;
  padding: 4px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus-visible {
  outline: 2px solid #af4fff;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:disabled {
  opacity: 0.1;
}

.slider-active {
  background-color: #000000;
}

.active-slide {
  display: grid;
}

.hidden-slide {
  display: none;
}

.slider-item-features {
  display: grid;
  grid-template-rows: 12px 18px;
  justify-content: start;
  column-gap: 22px;
  row-gap: 28px;
  max-width: 560px;
}

.slider-item-feature-name {
  grid-row: 2 / 3;
  font-size: 16px;
}

.slider-item-feature-value {
  grid-row: 1 / 2;
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  color: #000000;
}


.catalogue-categories {
  display: flex;
  flex-wrap: wrap;
  width: 1162px;
  margin: 0 auto;
  margin-bottom: 184px;
  padding: 0;
  list-style-type: none;
}

.catalogue-element:not(:nth-child(6)) {
  margin-right: 38px;
}

.catalogue-image {
  position: relative;
  margin-bottom: 32px;
}

.catalogue-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.catalogue-element:hover .catalogue-image {
  background-color: #ffcc33;
}

.catalogue-item:focus-visible {
  outline: 2px solid #af4fff;
}

.catalogue-element:active {
  opacity: 0.3;
}

.virtual-reality-image {
  background-image: url("../images/catalogue-icons/catalogue-virtual-reality.svg");
  width: 160px;
  height: 160px;
  background-position: center center;
  background-repeat: no-repeat;
}

.monopods-image {
  background-image: url("../images/catalogue-icons/catalogue-monopods.svg");
  width: 160px;
  height: 160px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.action-camera-image {
  background-image: url("../images/catalogue-icons/catalogue-action-cameras.svg");
  width: 160px;
  height: 160px;
  background-position: center center;
  background-repeat: no-repeat;
}

.fitness-bracelet-image {
  background-image: url("../images/catalogue-icons/catalogue-fitness-bracelets.svg");
  width: 160px;
  height: 160px;
  background-position: center center;
  background-repeat: no-repeat;
}

.smart-watch-image {
  background-image: url("../images/catalogue-icons/catalogue-smart-watches.svg");
  width: 160px;
  height: 160px;
  background-position: center center;
  background-repeat: no-repeat;
}

.quadrocopter-image {
  background-image: url("../images/catalogue-icons/catalogue-quadrocopters.svg");
  width: 160px;
  height: 160px;
  background-position: center center;
  background-repeat: no-repeat;
}

.catalogue-item {
  display: inline-block;
  width: 162px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.advantages-wrapper {
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  margin-bottom: 69px;
}

.mailing-wrapper {
  width: 100%;
  background-color: #f0f0f0;
}

.advantage-title,
.catalogue-page-heading {
  margin: 0;
  margin-bottom: 34px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-image {
  margin-top: -25px;
  background-image: url("../images/advantages-delivery.png");
  width: 136px;
  height: 164px;
  background-position: center center;
  background-repeat: no-repeat;
}

.guarantee-image {
  margin-top: -25px;
  background-image: url("../images/advantages-warranty.png");
  width: 171px;
  height: 195px;
  background-position: center center;
  background-repeat: no-repeat;
}

.credit-image {
  margin-top: -25px;
  background-image: url("../images/advantages-credit.png");
  width: 156px;
  height: 188px;
  background-position: center center;
  background-repeat: no-repeat;
}

.advantages {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.advantages-list {
  position: relative;
  width: 280px;
  padding: 0;
  margin: 0;
  margin-right: 122px;
  margin-top: -40px;
  list-style-type: none;
}

.advantages-list::after {
  content: "";
  top: -65px;
  left: 280px;
  height: 320px;
  position: absolute;
  border-right: 7px solid #000000;
}

.advantages-list .main-page-button {
  margin-bottom: 36px;
  width: 160px;
  padding: 10px 2px;
}

.main-page-button.active-advantage {
  width: 260px;
  text-align: left;
  padding-left: 18px;
  background-color: #000000;
  color: #ffe17f;
}

.main-page-button.active-advantage::before {
  display: none;
}

.main-page-button.active-advantage:hover {
  color: rgba(255, 225, 127, 0.5);
}

.main-page-button.active-advantage:focus-visible {
  outline: 2px solid #af4fff;
}

.main-page-button.active-advantage:active {
  color: rgba(255, 225, 127, 0.3);
}

.advantages-container {
  display: flex;
  padding-bottom: 145px;
}

.advantage-visible {
  display: flex;
}

.advantage-hidden {
  display: none;
}

.advantage-title {
  margin-top: -29px;
  margin-bottom: 33px;
}

.advantages-text {
  width: 558px;
}

.advantage-comment {
  margin: 0;
  width: 454px;
}

.advantages-description {
  width: 694px;
  padding: 0;
  margin: 0;
}

.delivery-box {
  position: relative;
  width: 1160px;
  min-height: 100px;
  margin: 0 auto;
  margin-bottom: 76px;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  cursor: pointer;
  text-decoration: none;
}

.delivery-truck-image {
  width: 125px;
  height: 100px;
  margin-right: 196px;
  background-color: #ffe17f;
  background-image: url("../images/delivery-banner-truck.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.special-delivery {
  margin: 40px 0 38px 0;
  max-width: 700px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23.5px;
  text-align: center;
  color:#000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.delivery-info {
  position: relative;
  background-image: url("../images/delivery-banner-info.svg");
  width: 40px;
  height: 40px;
  opacity: 0.3;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 42.5px;
  margin-left: auto;
}

.delivery-info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);

}

.delivery-box:hover .delivery-truck-image {
  background-color: #ffc700;
}

.delivery-box:hover .delivery-info {
  opacity: 1;
}

.delivery-box:focus-visible {
  outline: 2px solid #af4fff;
}

.delivery-box:active {
  opacity: 0.3;
}

.about-us-wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 69px;
  display: flex;
  justify-content: space-between;
}

.about-us-wrapper .index-main-text {
  margin: 0;
  margin-bottom: 30px;
}

.about-us-wrapper .main-page-heading {
  margin-top: 40px;
  margin-bottom: 48px;
  position: relative;
}

.about-us-wrapper .main-page-heading::before {
  content: "";
  position: absolute;
  top: -47px;
  left: 0;
  height: 7px;
  width: 84px;
  background-color: #000000;
}

.about-us .main-page-button {
  text-align: center;
  max-width: 264px;
}

.contact-us .main-page-button {
  text-align: center;
  max-width: 250px;
}

.about-us {
  width: 500px;
}

.contact-us {
  width: 532px;
}

.carrier-list {
  padding-left: 37px;
  margin: 0;
  margin-bottom: 10px;
  list-style-type: none;
}

.carrier-item {
  position: relative;
  padding-bottom: 19px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.carrier-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.contacts-address {
  font-style: inherit;
  padding-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-phone {
  color: #444444;
}

.contacts-schedule {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.contact-us .index-main-text:first-of-type {
  max-width: 500px;
}

.mailing-section {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.mailing-text .main-page-heading {
  margin: 50px 243px 0 7px;
  max-width: 357px;
}

.mailing-text .index-main-text {
  margin-top: 75px;
  max-width: 528px;
}

.mailing-text {
  display: flex;
  align-items: center;
  margin-bottom: 122px;
}

.mailing-form {
  display: flex;
  align-items: center;
}

.subscription-field {
  width: 537px;
  height: 55px;
}

.subscription-field {
  padding-left: 17px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.subscription-field:focus {
  outline: none;
  background-color: #dcdcdc;
}

.subscription-field:invalid {
  border-bottom: 3px solid #ff3d3d;
}

.subscription-form:disabled {
  opacity: 0.3;
}

.subscription-button {
  padding: 15px 36px;
  border: 3px solid #c4c4c4;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.3em;
}

.subscription-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 3px solid #000000;
}

.subscription-button:focus-visible {
  outline: 2px solid #af4fff;
}

.subscription-button:active,
.subscription-button:disabled {
  opacity: 0.3;
}

.subscription-form-comment {
  margin-left: auto;
  position: relative;
  max-width: 200px;
}

.subscription-form-comment::before {
  content: url("../images/subscription-tick.svg");
  position: absolute;
  width: 14px;
  height: 14px;
  top: 2px;
  left: -34px;
}

.page-footer {
  background-color: #444444;
  padding-bottom: 60px;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-left-column {
  margin-top: 62px;
  max-width: 240px;
  position: relative;
}

.footer-left-column::after {
  content: "";
  position: absolute;
  bottom: 23px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.footer-central-column {
  margin-top: 133px;
  width: 510px;
}

.footer-address-text {
  margin: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 56px;
}

.footer-navigation li {
  margin-right: 32px;
}

.footer-navigation li:nth-child(3n) {
  margin: 0;
}

.footer-navigation-item {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.footer-navigation-item:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  cursor: pointer;
}

.footer-navigation-item:focus-visible {
  outline: 2px solid #af4fff;
}

.footer-navigation-item:active {
  color: #ffc700;
  opacity: 0.3;
  border-bottom: 2px solid #ffc700;
  cursor: pointer;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  width: 150px;
  margin: 0 150px 0 150px;
}

.socials-link {
  position: relative;
  left: -3px;
  display: block;
  height: 40px;
  width: 40px;
}

.socials-link:hover {
  background-color: #ffc700;
  border-radius: 50%;
}

.socials-link:focus-visible {
  outline: 2px solid #af4fff;
}

.socials-link:active {
  background-color: #ffc700;
  border-radius: 50%;
  opacity: 0.3;
}

.telegram-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-image: url(../images/footer-telegram.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.youtube-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-image: url(../images/footer-youtube.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.twitter-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-image: url(../images/footer-twitter.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-right-column {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-phone {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: underline;
  margin-bottom: 63px;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:focus-visible {
  outline: 2px solid #af4fff;
}

.footer-phone:active {
  color: #ffc700;
  opacity: 0.3;
  cursor: pointer;
}

.html-academy-link {
  margin-left: auto;
}

.html-academy-logo {
  color: #ffc700;
}

.html-academy-logo:hover {
  color: #ffffff;
}

.html-academy-logo:active {
  color: #ffffff;
  opacity: 0.3;
}

.html-academy-link:focus-visible {
  outline: 2px solid #af4fff;
}

.modal-cover {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 2;
}

.modal-hidden {
  display: none;
}

.modal-open {
  display: block;
}

.delivery-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 920px;
  min-height: 570px;
  background-color: #ffffff;
  margin-top: -285px;
  margin-left: -460px;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.delivery-fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
  padding: 80px 72px;
}

.delivery-form-title {
  font-size: 50px;
  line-height: 50px;
  text-transform: none;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 42px;
  max-width: 600px;
}

.delivery-form-close {
  border: none;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/delivery-form-close.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.delivery-form-close:hover {
  opacity: 0.6;
}

.delivery-form-close:focus-visible {
  outline: 2px solid #af4fff;
}

.delivery-form-close:active {
  opacity: 0.3;
}

.delivery-form-field {
  display: grid;
  grid-template-rows: 1fr 2fr;
  row-gap: 14px;
  position: relative;
  margin: 0;
  margin-bottom: 42px;
  max-width: 600px;
}

.delivery-form-field-name {
  grid-row: 1 / 2;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  text-transform: none;
  color: #000000;
  letter-spacing: -0.02em;
}

.delivery-form-input {
  grid-row: 2 / 3;
  padding: 20px 0 20px 20px;
  background-color: #f0f0f0;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.delivery-form-input:hover {
  background-color: #dcdcdc;
}

.delivery-form-input:focus-visible {
  outline: 2px solid #af4fff;
}

.delivery-form-input:invalid {
  outline: 2px solid #ff3d3d;
}

.delivery-form-input:disabled {
  opacity: 0.3;
}

.modal-name {
  width: 340px;
}

.modal-email {
  width: 340px;
}

.email-comment {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 14px;
  line-height: 20px;
}

.modal-email:invalid + .email-comment {
  color: #ff3d3d;
}

.delivery-form-field:nth-child(3)::after {
  content: url("../images/delivery-form-name.svg");
  position: absolute;
  width: 15px;
  height: 12px;
  bottom: 31px;
  left: 325px;
}

.delivery-form-field:nth-child(4)::after {
  content: url("../images/delivery-form-email.svg");
  position: absolute;
  width: 15px;
  height: 12px;
  bottom: 31px;
  left: 325px;
}

.modal-description {
  width: 520px;
}

.quantity-counter {
  width: 180px;
  display: flex;
  justify-content: flex-start;
}

.modal-tooltip {
  position: absolute;
  right: 30px;
  top: -3px;
  height: 26px;
  width: 26px;
  background-color: #ffe17f;
  border-radius: 50%;
  background-image: url("../images/modal-tooltip.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.tooltip-field {
  display: none;
  position: absolute;
  top: 30px;
  width: 180px;
  padding: 19px;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.tooltip-field::before {
  content: url("../images/popover-arrow.svg");
  position: absolute;
  top: -6px;
  left: 58%;
}

.modal-tooltip:hover + .tooltip-field {
  display: block;
}

.modal-tooltip:focus + .tooltip-field {
  display: block;
}

.quantity-button {
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 30px;
}

.quantity-button:hover {
  opacity: 0.6;
}

.quantity-button:focus-visible {
  outline: 2px solid #af4fff;
}

.quantity-button:active,
.quantity-button:disabled {
  opacity: 0.3;
}

.quantity-less {
  background-image: url("../images/quantity-less.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.quantity-more {
  background-image: url("../images/quantity-more.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-quantity {
  width: 40px;
  -moz-appearance: textfield;
}

.modal-quantity::-webkit-inner-spin-button,
.modal-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.modal-quantity:invalid {
  outline: #ff3d3d;
}

.delivery-fieldset .main-page-button {
  height: 40px;
}

.delivery-fieldset .main-page-button::before {
  top: 40%;
  left: 0;
  height: 8px;
  width: 100%;
}

.inner-header {
  width: 1080px;
  margin: 0 auto
}

.catalogue-page-heading {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  margin-left: 18px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 16px;
}

.breadcrumbs-item:not(:first-child)::before {
  position: relative;
  top: -2px;
  right: -1px;
  content: url("../images/breadcrumbs-arrow.svg");
  margin-right: 13px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #af4fff;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.main-catalogue-wrapper {
  background-color: #f0f0f0;
}

.main-catalogue {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.catalog-filters {
  width: 320px;
  margin: 0 55px 0 60px;
}

.filter-title {
  padding-bottom: 25px;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  border: none;
  max-width: 197px;
}

.catalog-filter-title {
  width: 100%;
  padding-top: 12px;
  border-top: 2px solid #000000;
  margin-bottom: 22px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-filter-group:first-child {
  margin-bottom: 67px;
}

.catalog-filter-group:first-child .catalog-filter-title {
  margin-bottom: 27px;
}

.range-scale {
  position: relative;
  height: 2px;
  width: 197px;
  background-color: #dcdcdc;
}

.range-bar {
  width: 120px;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  background-color: #ebebeb;
  border-radius: 50%;
  cursor: pointer
}

.range-toggle:hover {
  opacity: 0.5;
}

.range-toggle:focus-visible {
  outline: 2px solid #af4fff;
}

.range-toggle:active {
  background-color: #000000;
}

.toggle-min {
  bottom: -8px;
  left: -7px;
}

.toggle-max {
  bottom: -8px;
  right: 69px;
}

.catalog-filter-label {
  position: absolute;
  color: #000000;
  opacity: 0.3;
}

.catalog-filter-label:first-of-type {
  top: 12px;
  left: -14px;
}

.catalog-filter-label:last-of-type {
  top: 8px;
  right: 88px;
}

.range-input {
  position: absolute;
  bottom: 5px;
  left: 20px;
  border: none;
  background-color: transparent;
  width: 60px;
  color: #000000;
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
  -moz-appearance: textfield;
}

.range-input:focus {
  outline: 2px solid #af4fff;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control:hover {
  opacity: 0.6;
}

.control-input:focus + .control-mark {
  outline: 2px solid #af4fff;
}

.control:active {
  opacity: 0.3;
}

.control:disabled {
  opacity: 0.1;
}

.control-mark {
  position: absolute;
  top: -2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/filter-choice-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  background-image: url("../images/filter-choice-radio.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #000000;
}

.catalog-filters .main-page-button {
  height: 50px;
  width: 110%;
}

.item-cards {
  width: 760px;
  padding: 71px 40px 79px;
  background-color: #ffffff;
}

.items-filter {
  display: flex;
  background-color: #f0f0f0;
  justify-content: space-between;
  align-items: center;
  padding: 15px 41px 15px;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  max-width: 250px;
}

.catalog-filters .filter-title {
  margin-top: 24px;
  margin-bottom: 33px;
}

.items-filter .filter-title {
  padding: 0;
}

.select-control {
  border: none;
  background-color: #f0f0f0;
  margin-right: 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus-visible {
  outline: 2px solid #af4fff;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:disabled {
  opacity: 0.1;
}

.filter-button {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  opacity: 0.2;
}

.filter-up {
  top: 4px;
  left: 6px;
  background-image: url("../images/filter-up.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.filter-down {
  top: 4px;
  left: 2px;
  background-image: url("../images/filter-up.svg");
  transform: rotate(180deg);
  background-position: center;
  background-repeat: no-repeat;
}

.filter-button:hover {
  opacity: 0.5;
}

.filter-button:focus-visible {
  outline: 2px solid #af4fff;
}

.filter-button:active {
  opacity: 1;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 19px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 3px 40px;
  width: 760px;
  margin: 0 0 3px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  display: grid;
  grid-template-rows: auto 40px;
  grid-template-columns: 201px 1fr;
  width: 360px;
  padding: 0;
  position: relative;
}

.new-mark {
  position: absolute;
  top: 27px;
  right: 27px;
}

.new-visible {
  display: block;
}

.new-hidden {
  display: none;
}

.product-card-link {
  grid-column: 1 / -1;
  display: grid;
  position: relative;
  grid-template-columns: 201px 1fr;
  grid-template-rows: 380px auto;
  row-gap: 32px;
  text-decoration: none;
  color: #000000;
}

.product-card:hover {
  opacity: 0.6;
}

.product-card-link:focus-visible {
  outline: 2px solid #af4fff;
}

.product-card:active {
  opacity: 0.3;
}

.product-card-image {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.product-card .main-page-button {
  display: none;
  position: absolute;
  top: 180px;
  left: 75px;
  right: 75px;
  margin: 0;
}

.product-card:hover .main-page-button {
  display: block;
}

.product-card-title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-price {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  margin-top: -2px;
  line-height: 26px;
  text-align: right;
}

.pagination-show-more {
  margin-bottom: 44px;
  padding: 16px 290px;
  min-width: 760px;
  min-height: 55px;
  border: 3px solid #e5e5e5;
  background-color: #ffffff;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-show-more:hover {
  border: 3px solid #000000;
}

.pagination-show-more:focus-visible {
  outline: 2px solid #af4fff;
}

.pagination-show-more:active,
.pagination-show-more:disabled {
  opacity: 0.3;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 760px;
  height: 70px;
  padding: 0;
  margin: 0 auto;
  background-color: #ebebeb;
  list-style-type: none;
}

.pagination-pages {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  width: 200px;
}

.pagination-link {
  padding: 0 14px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  opacity: 0.3;
  color: #444444;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:focus-visible {
  outline: 2px solid #af4fff;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-item:first-child .pagination-move {
  display: inline-block;
  text-decoration: none;
  padding: 20px 0 20px 2px;
  margin-right: 24px;
}

.pagination-item:last-child .pagination-move {
  display: inline-block;
  text-decoration: none;
  padding: 20px 0 20px 20px;
}

.pagination-move:hover {
  background-color: #dcdcdc;
}

.pagination-move:focus-visible {
  outline: 2px solid #af4fff;
}

.pagination-move:active {
  background-color: #dcdcdc;
  opacity: 0.3;
}

.pagination-button {
  padding: 0 23px;
  max-width: 130px;
}

.pagination-current {
  opacity: 0.6;
}
